@use "../abstracts/_helpers.scss" as *;

.caixa {
  z-index: 1;
  position: relative;
  background-color: #f1f1f1;
  padding: 3.12rem 2.5rem;
  border-radius: 2.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  margin-bottom: 6.1rem;
  max-width: 50%;
  box-shadow: inset 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.3);

  @include respond(small) {
    margin-bottom: 0;
    max-width: 53rem;
  }

  & .caixa__titulos {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    gap: 0.65rem;

    & .caixa__h1 {
      color: #1c415c;
      text-align: center;
    }

    & .caixa__h1,
    & .titulo {
      font-size: 4.78rem;
      line-height: 1;

      @include respond(tiny) {
        font-size: 4rem;
      }
    }
  }

  & .caixa__subtitulo {
    font-size: 2.76rem;
    font-weight: 700;
    line-height: 1.2;

    @include respond(tiny) {
      font-size: 2.5rem;
    }
  }

  .caixa__lista {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    list-style: none;
    font-size: 1.92rem;

    .caixa__item-lista {
      display: flex;
      gap: 0.65rem;
      align-items: start;

      .caixa__icone {
        width: 2rem;
        height: 2rem;
        margin-top: 0.4rem;
      }
    }
  }

  & .caixa__lista {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    list-style: none;
    font-size: 1.92rem;

    .caixa__item-lista {
      display: flex;
      gap: 0.65rem;
      align-items: start;

      .caixa__icone {
        width: 2rem;
        height: 2rem;
        margin-top: 0.4rem;
      }
    }
  }
}

.caixa__div-logo {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  background-color: #f1f1f1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 0;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  box-shadow: inset 0 0 0.8rem rgba(0, 0, 0, 0.2);
  padding: 1rem;

  & img {
    max-width: 100%;
    width: 100%;
    display: block;
  }
}

.caixa__subtitulo--cinza {
  color: #4b4d4d;
}

.botao {
  border-radius: 5rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  border: 2px solid #000;
  border-right-width: 4px;
  border-bottom-width: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.92rem;
}

.botao--amarelo {
  background-color: #ffd24a;
  border-color: #7d5e00;
  color: #102535;
}

.botao:hover {
  border-width: 0.3rem;
}
