.popup--aberto {
  .popup {
    display: flex;
  }
}

.popup {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.925);
  backdrop-filter: blur(2px);
}

.popup__inputs {
  display: flex;
  flex-direction: column;
  gap: 1.02rem;

  .popup__input {
    border-radius: 1.02rem;
    border: 2px solid #ffd24a;
    padding: 1.28rem;
    font-size: inherit;

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 1rem #ffd24a;
    }
  }
}

.container__popup {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 50rem;
  background-color: #fff;
  border-radius: 2.5rem;
  padding: 4rem;
  box-shadow: inset 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.192);

  .popup__botao {
    margin-top: 3.12rem;
    padding: 1rem 2.5rem;
    align-self: center;
    background-color: #ffd24a;
    border-radius: 5rem;
    font-size: 1.92rem;
    border: 2px solid #7d5e00;
    border-right: 4px solid #7d5e00;
    border-bottom: 4px solid #7d5e00;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    cursor: pointer;
    color: #fff;

    &:hover,
    &:active {
      border-width: 3px;
    }
  }

  .popup__fechar {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(25%, -20%);
    height: 3rem;
    width: 3rem;
    font-weight: 700;
    border-radius: 50%;
    background-color: #ffd24a;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #7d5e00;
    cursor: pointer;
    color: #fff;
    line-height: 1;

    &:hover {
      border: 1px solid #7d5e00;
    }
  }
}
