@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "MontSerrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #303030;
}
