@use "../abstracts/_helpers.scss" as *;

.secao__hero {
  background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/64957938a8a62d8071397ed5_pgc-python-bg1.webp);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  padding-bottom: 0;

  @include respond(small) {
    background-image: url("https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/6495797b607323070bcf5e17_pgc-python-bg1-mobile.webp");
  }
}

.div-lira {
  position: absolute;
  transform: translateX(10%);
  display: flex;
  width: 70%;
  right: 0;
  bottom: 0;

  @include respond(small) {
    position: relative;
    transform: none;
    width: 100%;
    max-width: 53rem;
  }
}

.container__hero {
  position: relative;
  align-items: end;
  width: 100%;

  @include respond(small) {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
